
:root{
	/*Två  olika variabler*/
	--huvud: 232, 12, 148;
	--mainfont: 'VT323', monospace;
}
html{
	/*Gör scrollen mjuk*/
	scroll-behavior:smooth;
	font-family: verdana;
}

.frageruta{
	margin-top: 30px;
	width: 100%;
	height: 400px;
	background-color: white;
	box-shadow: 2px 2px 10px rgba(50, 60, 70, 0.4);
	border-radius: 4px;
}
.nav{
	/*Koppling till javascripten för att få navbaren sticky*/
	position: -webkit-sticky;
	background-color: white;
}
.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}
.resultat{
	margin-top: 30px;
	width: 100px;
	height: 300px;
	background-color: white;
	box-shadow: 2px 2px 10px rgba(50, 60, 70, 0.4);
	border-radius: 4px;
}
.header-txt{
	color: rgba(var(--huvud));
	font-size: 60px;
	margin-left: 8px;
	font-family: var(--mainfont);
}
.tjej-logga{
	max-width: 35px;
	color: var(--huvud);
	/*Ändra värdet för snabb färgändring*/
	filter: hue-rotate(0deg);
}
.header{
	margin: auto;
}
.navbar-nav{
	margin-top:9px;
}
.navi{
	float: left;
}
.leftlogo{
	float:left;
}
.logga{
	max-width: 52px;
	margin-left: 11px;
}
.titel{
	float:left;
}
.btn-light{
	background-color: rgba(var(--huvud), 0.9);
	color: white;
}
header{
}
footer{
	height: 50px;
	text-align: center;
	padding: 20px;
}
.box{
	border: 2px solid black;
}
.ovr-txt{
	color: black;
	font-size: 35px;
	font-family: var(--mainfont);
}
.tj3{
	max-width: 100%;
	transform: rotate(180deg);
}	
.knapp1{
	margin: auto;
	margin-top: 10px;
	width: 150px;
	font-size: 20px;
}
.knapp2{
	font-size:17px;
}
.col-md-12{
	margin-top: 20px;
	text-align: center;
}
.alternativen{
	margin:auto;
	width:200px;
	height:100px;
	text-align: left;
}
.knappar{	
	margin: auto;

}
.fraga{
	font-weight: 500;
	font-size: 32px;
}

.text1{
	text-align: center;
	margin-top: 40px;
}
.text2{
	text-align: center;
	margin-top: 15px;
}
.ovrbild {
  position: relative;
  max-width: 25%;
}

.image {
	/*Gör att bilden kan få en overlay utan att flyttas samt säger hur den ska overlayas*/
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
	/*Overlayen på bilderna*/
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.ovrbild:hover .image {
  opacity: 0.3;
}

.ovrbild:hover .middle {
  opacity: 1;
}

.text {
	font-size: 18px;
}
/*omoss används på många ställen i koden främst för att jag började göra det och den är överallt nu*/
.omoss {
	margin-top: 100px;
}
.gall {
	max-width: 100%;
}
.galldiv{
	margin: 5px;
}
.bildgall {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.landing {
	height: 500px;

	background-image: url("../img/landing.jpg");
}
.landingbi {
	max-width: 50%;
}
.countdown{
	/*Css för nedräkningen, positionen är absolute så den alltid är på samma ställe, detta stället bestäms med hjälp av %*/
  position: absolute;
  top: 34%;
  left: 35%;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  border-radius: 5px;
}
.demo {
	color: rgba(var(--huvud));
	font-family: var(--mainfont);
	font-size:45px;
}
#demo {
	color: rgba(var(--huvud));
	font-family: var(--mainfont);
	font-size: 45px;
}
.fb {
	float: center;
}
/*Inlagt från en iframe för att validatorn ville ha det här*/
.anchor{
	display: block;
	position: relative; 
	top: -100px; 
	visibility: hidden;
}
.spel {

}
/*Även denna är inlagd för att validatorn ville ha det i css istället*/
.iframe {
	border: 0;
}
.yt {
	width: 100%
}
.mapouter{
	position:relative;
	text-align:right;
	max-height:300px;
	max-width:400px;
}
.gmap_canvas {
	overflow:hidden;
	background:none!important;
	max-height:300px;
	max-width:400px;
}